#container {
    display: flex;
    margin: 0 15%;
}

#numbers{
    height: 75vh;
    width: 60%;
    background-color: grey;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.numbers_tils{
    width: 30%;
    height: 10vh;
    background-color: white;
    margin: 0 1%;

    border: 1px solid beige;
    border-radius: 0 20px 0 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

#t0{
    width: 95%
}

#calc{
    height: 75vh;
    width: 40%;
    background-color: beige;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 0 2%;
}

#calc_operators{
    display: flex;
}

.calc_operator{
    width: 25%;
    height: 30px;

    background-color: white;
    margin: 0 1%;

    border: 1px solid beige;
    border-radius: 0 20px 0 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

#calc_list{
    width: 100%;
    height: 50px;
    background-color: black;
    padding-left: 3px;

    color: white;

    display: flex;
    justify-content: left;
    align-items: center;
}

#calc_result{
    width: 100%;
    height: 50px;
    padding-left: 3px;

    background-color: cadetblue;
}
